<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to My Shop</title>
      <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Link to My Shop : <a href="https://nagpalfurniture.netlify.app/">MyShop</a></h1> <br>
      <h1>Link to Our own WikiPedia : <a href="/articles">DesiWiki</a> </h1> <br>
      <h1>Link to your own Daily Routine : <a href="https://stormy-eyrie-92187.herokuapp.com/">Tuhadi To Do List</a></h1>
    </div>
  </body>
</html>
